
@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Quicksand";
	src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

html{
  --heading: black;
  --section-bg: rgba(242, 232, 246, 0.8);
}

html.dark {
  --heading: #CCC;
}

#heading {
  color: rgb(118, 118, 240);
	font-size: 80px;
	font-family: Lato;
	text-shadow: 1px 1px black;
}

h2 {
  font: bold 32px Quicksand;
  margin: 0 30px;
}

p {
  font: 20px Quicksand;
  text-align: justify;
}

section {
  position: relative;
  right: 10%;
  width: 70%;
  background-color: rgba(242, 232, 246, 0.8);
  border-radius: 16px;
  margin-bottom: 64px;
  box-shadow: 4px 4px 6px 0 gray;
}

section:nth-of-type(even) {
  right: 0;
  left: 10%;
}

section:nth-of-type(even) .bio-header {
  flex-direction: row-reverse;
}

section > div {
  margin: 48px 24px;
}

.bio-header {
  display: flex;
  align-items: center;
}

.bio-photo {
  margin: 0 20px;
  border: 2px solid #444;
  border-radius: 6px;
  height: 200px;
  box-shadow: 2px 2px 4px 1px gray;
}

.button-link {
  margin: 0;
  border-radius: 0 0 14px 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(118, 118, 240);
  color: white;
  font-size: 24px;
}