#canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#popup, #playButton {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#popup{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    border-width: 6px;
    width: 70%;
}

#pause {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 900;
}

#canvas2 {
    height: 25%;
    padding-left: 30px;
}