#main-container{
	margin-top: 80px;
    padding: 15px 0;
	width: 680px;
	border: 8px solid rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
	background-color: white;
	display: flex;
	justify-content: space-evenly;
    align-items: flex-start;
}

#canvas-container {
    /* border: 5px solid rgb(118, 118, 240);
    border-radius: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
}

canvas {
    border: 3px solid black;
    border-radius: 10px;
}

#canvas2-container {
    /* border: 5px solid rgb(118, 118, 240); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas2-container div {
    margin-top: 40px;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    width: 200px;
    display: grid;
    place-content: center;
    background-color: gray;
    color: white;
}

#canvas2-container p {
    font-size: larger;
}

#popup, #playButton {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#popup{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    border-width: 6px;
    width: 70%;
    background-color: lightpink;
}

#pause {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 900;
}
