
@font-face {
	font-family: "Tetris";
	src: url('../fonts/modern-tetris.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Quicksand";
	src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
	font-family: "Arcade";
	src: url('../fonts/PressStart2P-Regular.ttf');
}

html {
	--main-container-bg: white;
	--nav-bg: white;
	--title-col: black;
}

html.dark {
	--main-container-bg: #AAA;
	--nav-bg: black;
	--title-col: #CCC;
	--bg-filter: invert(90%);
}

.bg-filter {
  position: fixed;
	top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
	backdrop-filter: var(--bg-filter);
}

body{
	margin: 0;
	background-image: url('../img/cube-pattern.jpg');
	background-size: 5000px;
	min-height: 900px;
}

main{
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 900px;
}

header {
	position: relative;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100px;
	border-bottom: solid rgb(118, 118, 240);
	border-width: 5px;
	background-color: var(--nav-bg);
	transition-duration: 800ms;
	top:0;
	position:fixed;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.125);
	z-index: 1;
}

nav:hover {
	background-color: black;
	color:white;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.125);
	border-bottom: solid;
	border-width: 5px;
	border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
}

nav a {
	color: var(--title-col);
}

nav:hover a{
	color:white;
}

#title{
	font-family: Tetris;
	color: var(--title-col);
	font-size: 40px;
	transition-duration: 250ms;
}

ul{
	list-style-type: none;
}

li{
	display: inline;
	transition-duration: 500ms;
}

a{
	padding: 8px;
	margin: 8px;
	font-size: 20px;
	color: black;
	font-family: Lato;
	text-decoration: none;
	transition-duration: 250ms;
}

#play:hover{
	color:red;
	font-weight: bold;
}

#leader-board:hover{
	color:orange;
	font-weight: bold;
}

#how-to-play:hover{
	color:yellow;
	font-weight: bold;
}

#funfacts:hover{
	color:green;
	font-weight: bold;
}

#about:hover{
	color:blue;
	font-weight: bold;
}

#repo:hover{
	color:blueviolet;
	font-weight: bold;
}

nav:hover #title{
	color:white;
}

#ld {
	border: 3px dashed #333;
	border-radius: 20%;
	width: 60px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 15px;
	background-color: rgb(255, 255, 158);
	box-shadow: 2px 2px 3px 1px gray;
	font-weight: 600;
	color: #333;
}

#ld:hover {
	transform: scale(1.1);
	transition: transform 100ms ease-in;
}

#main-container{
	margin-top: 80px;
  padding: 15px 0;
	width: 680px;
	border: 8px solid var(--main-container-bg);
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
	background-color: var(--main-container-bg);
	display: flex;
	justify-content: space-evenly;
  align-items: flex-start;
}

#feeter{
	display: flex;
	text-align: center;
	align-content: flex-start;
	flex-direction: column;
	margin: 30px 0;
}

footer{
	display: flex;
	text-align: center;
	justify-content: center;
	color: white;
	display:flex;
	margin-top: 40px;
	min-height: 25vh;
	background-color: black;
	border-top: solid;
	border-width: 5px;
	border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
	width: 100%;
}

#copyright{
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: grey;
	margin:0;
	padding: 0;
}

#footHead{
	font-family: Tetris, cursive;
	font-size: 35px;
	margin: 0;
	padding-bottom: 0;
	padding:0;
}

#feetlink{
	margin: 0px;
	padding: 0px;
}

#feetlink > a{
	text-transform: capitalize;
	padding: 4px;
	margin: 2px;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	color: grey;
	min-width: 1000px;
}


#playButton {
	background: none;
	background-image: url('../img/Playbutton.png');
	background-size: cover;
	height: 80px;
	width: 150px;
	border: none;
}

#lb-main-container{
	display: flex;
	justify-content: top;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	width: 100%;
	height: 1000px;
}

#lb-main-container h2{
	color: rgb(118, 118, 240);
	font-size: 80px;
	font-family: Lato;
	text-shadow: 1px 1px black;
}

#leaderboard-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	border: 5px white solid;
	font-family: Arcade;
	border-radius: 20px;
	width: 800px;
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
}

#leaderboard-container h3{
	color: white;
	font-size: 40px;
	margin-bottom: 15px;
}

#leaderboard-container table{
	color: white;
	font-size: 20px;
	margin-bottom: 30px;
}

#leaderboard-container th{
	margin: 20px;
	padding: 20px;
}

#leaderboard-container td{
	padding: 8px;
}

#ht-main-container{
	display: flex;
	justify-content: top;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	width: 100%;
	height: 1000px;
}

#ht-main-container h2{
	color: rgb(118, 118, 240);
	font-size: 80px;
	font-family: Lato;
	text-shadow: 1px 1px black;
}

#how-to-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	border: 5px white solid;
	font-family: "Arcade";
	border-radius: 20px;
	width: 1000px;
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
}

#how-to-container h3{
	color: white;
	font-size: 40px;
}

#how-to-container table{
	color: white;
	font-size: 20px;
}

#how-to-container th{
	margin: 20px;
	padding: 20px;
}

#how-to-container ul{
	color: white;
	font-size: 14px;
}

#scoring-p {
	text-align: left;
	color: white;
	font-size: 14px;
	width: 700px;
}

#ff-main-container{
	display: flex;
	justify-content: top;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
	width: 100%;
	height: 1000px;
}

#ff-main-container h2{
	color: rgb(118, 118, 240);
	font-size: 80px;
	font-family: "Lato";
	text-shadow: 1px 1px black;
}

#funfacts-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	border: 5px white solid;
	font-family: "Arcade";
	border-radius: 20px;
	width: 1000px;
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
}

#funfacts-container h3{
	color: white;
	font-size: 40px;
}

#funfacts-container table{
	color: white;
	font-size: 20px;
}

#funfacts-container th{
	margin: 20px;
	padding: 20px;
}

#funfacts-container ul{
	color: white;
	font-size: 14px;
}

#funfacts-container li{
	width: 200px;
}

#facts {
	text-align: left;
	color: white;
	font-size: 14px;
	width: 700px;
}

#history {
	text-align: left;
	color: white;
	font-size: 14px;
	width: 700px;
}

#ff-button{
	border-radius: 20px;
	border: 4px solid white ;
	color: white;
	background-color: black;
	margin: 15px;
	width: 150px;
	height: 50px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 15px;
}

#ff-button:hover{
	background-color: white;
	color: black;
	cursor: pointer;
}

